<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu" (click)="$event.stopPropagation()">
  <ng-template matMenuContent>
    <mat-drawer-container class="example-container" (click)="$event.stopPropagation()">
      <mat-drawer mode="side" opened>
        <mat-selection-list #list [multiple]="false">
          <ng-container *ngFor="let option of options; index as i;">
            <mat-list-option
              [value]="option"
              [disableRipple]="true"
              [checkboxPosition]="before"
              (click)="select(i)"
              >          
              <mat-icon matListIcon *ngIf="list.selectedOptions.selected[0]?.value == option">done</mat-icon>
              {{option}}
            </mat-list-option>
            <mat-divider *ngIf="i == 1 || i == 3"></mat-divider>
          </ng-container>
        </mat-selection-list>
      </mat-drawer>
      
      <mat-drawer-content>
        <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate">
          <input matStartDate placeholder="Start date" [value]="selected?.start">
          <input matEndDate placeholder="End date" [value]="selected?.end">
        </mat-date-range-input>
        <app-my-picker #picker [startAt]="startAt" (selectionChanged)="selectionChanged($event)" ></app-my-picker>
      </mat-drawer-content>
    </mat-drawer-container>
  </ng-template>
</mat-menu>

