<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-selection-list #list [multiple]="false">
      <ng-container *ngFor="let option of options; index as i;">
        <mat-list-option
          [value]="option"
          [disableRipple]="true"
          [checkboxPosition]="before">          
          <mat-icon matListIcon *ngIf="list.selectedOptions.selected[0]?.value == option">done</mat-icon>
          {{option}}
        </mat-list-option>
        <mat-divider *ngIf="i == 1 || i == 3"></mat-divider>
      </ng-container>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>

    <app-my-picker #picker></app-my-picker></mat-drawer-content>
</mat-drawer-container>